<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Variables</key>
	<dict>
		<key>Swift</key>
		<dict>
			<key>ibCustomModuleProvider</key>
			<string>target</string>
			<key>moduleNamePrefixForClasses</key>
			<string>$(PRODUCT_MODULE_NAME).</string>
		</dict>
		<key>Objective-C</key>
		<dict>
			<key>ibCustomModuleProvider</key>
			<string></string>
			<key>moduleNamePrefixForClasses</key>
			<string></string>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Identifier</key>
	<string>io.vokal.xcodeTemplate-swift</string>
	<key>Description</key>
	<string>Swift starter project for Vokal iOS projects</string>
	<key>Ancestors</key>
	<array>
		<string>io.vokal.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>io.vokal.dt.unit.iosUnitTestBundleBase-swift</string>
			<key>Name</key>
			<string>___PACKAGENAME___Tests</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>io.vokal.dt.unit.kifUITestBundleBase-swift</string>
			<key>Name</key>
			<string>___PACKAGENAME___UITests</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>io.vokal.dt.unit.aggregateScriptsTarget-swift</string>
			<key>Name</key>
			<string>Code Generation Scripts</string>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>R.swift Generation Script</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>swiftgen xcassets &quot;$PROJECT_DIR/___PACKAGENAME___/Images.xcassets&quot;  -t swift4 --output &quot;$PROJECT_DIR/Images.swift&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Bussiness/Common/DefaultImp/AliHttpDNSAdapter.swift</string>
		<string>Bussiness/Common/DefaultImp/BasicNetworkService.swift</string>
		<string>Bussiness/Common/DefaultImp/AliHttpDNSAdapter.swift</string>
		<string>Bussiness/Index/MainController.swift</string>
		<string>Bussiness/Index/NavigationController+Base.swift</string>
		<string>Base/Configuration/NetworkConfiguration.swift</string>
		<string>Base/Configuration/BaseColorConfiguration.swift</string>
		<string>Base/Configuration/TabbarConfiguration.swift</string>
		<string>Base/Vendors/AlicloudHttpDNS/UTDID.framework</string>
		<string>Base/Vendors/AlicloudHttpDNS/AlicloudHttpDNS.framework</string>
		<string>Base/Vendors/AlicloudHttpDNS/AlicloudUtils.framework</string>
		<string>main.swift</string>
		<string>AppDelegate.swift</string>
		<string>libresolv.tbd</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base/Configuration/BaseColorConfiguration.swift</key>
		<dict>
			<key>Path</key>
			<string>Configuration/BaseColorConfiguration.swift</string>
			<key>Group</key>
			<array>
				<string>Base</string>
				<string>Configuration</string>
			</array>
		</dict>
		<key>Base/Configuration/TabbarConfiguration.swift</key>
		<dict>
			<key>Path</key>
			<string>Configuration/TabbarConfiguration.swift</string>
			<key>Group</key>
			<array>
				<string>Base</string>
				<string>Configuration</string>
			</array>
		</dict>
		<key>Base/Configuration/NetworkConfiguration.swift</key>
		<dict>
			<key>Path</key>
			<string>Configuration/NetworkConfiguration.swift</string>
			<key>Group</key>
			<array>
				<string>Base</string>
				<string>Configuration</string>
			</array>
		</dict>
		<key>Base/Vendors/AlicloudHttpDNS/UTDID.framework</key>
		<dict>
			<key>Path</key>
			<string>Vendors/AlicloudHttpDNS/UTDID.framework</string>
			<key>Group</key>
			<array>
				<string>Base</string>
				<string>Vendors</string>
				<string>AlicloudHttpDns</string>
			</array>
		</dict>
		<key>Base/Vendors/AlicloudHttpDNS/AlicloudUtils.framework</key>
		<dict>
			<key>Path</key>
			<string>Vendors/AlicloudHttpDNS/AlicloudUtils.framework</string>
			<key>Group</key>
			<array>
				<string>Base</string>
				<string>Vendors</string>
				<string>AlicloudHttpDns</string>
			</array>
		</dict>
		<key>Base/Vendors/AlicloudHttpDNS/AlicloudHttpDNS.framework</key>
		<dict>
			<key>Path</key>
			<string>Vendors/AlicloudHttpDNS/AlicloudHttpDNS.framework</string>
			<key>Group</key>
			<array>
				<string>Base</string>
				<string>Vendors</string>
				<string>AlicloudHttpDns</string>
			</array>
		</dict>
		<key>Bussiness/Common/DefaultImp/AliHttpDNSAdapter.swift</key>
		<dict>
			<key>Path</key>
			<string>Common/DefaultImp/AliHttpDNSAdapter.swift</string>
			<key>Group</key>
			<array>
				<string>Bussiness</string>
				<string>Common</string>
				<string>DefaultImp</string>
			</array>
		</dict>
		<key>Bussiness/Common/DefaultImp/BasicNetworkService.swift</key>
		<dict>
			<key>Path</key>
			<string>Common/DefaultImp/BasicNetworkService.swift</string>
			<key>Group</key>
			<array>
				<string>Bussiness</string>
				<string>Common</string>
				<string>DefaultImp</string>
			</array>
		</dict>
		<key>Bussiness/Index/MainController.swift</key>
		<dict>
			<key>Path</key>
			<string>Index/MainController.swift</string>
			<key>Group</key>
			<array>
				<string>Bussiness</string>
				<string>Index</string>
			</array>
		</dict>
		<key>Bussiness/Index/NavigationController+Base.swift</key>
		<dict>
			<key>Path</key>
			<string>Index/NavigationController+Base.swift</string>
			<key>Group</key>
			<array>
				<string>Bussiness</string>
				<string>Index</string>
			</array>
		</dict>
		<key>libresolv.tbd</key>
		<dict>
			<key>Path</key>
			<string></string>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
		</dict>
		<key>main.swift</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.swift</string>
		</dict>
	</dict>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Onone</string>
				<key>GCC_INSTRUMENT_PROGRAM_FLOW_ARCS</key>
				<string>YES</string>
				<key>GCC_GENERATE_TEST_COVERAGE_FILES</key>
				<string>YES</string>
				<key>OTHER_SWIFT_FLAGS</key>
				<string>-D DEBUG</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Owholemodule</string>
			</dict>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_Universal.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
